/*
 * Color Pallete? 
 *
 * primary: #2c3e50
 *
 *
 */

body {
    margin: 0;
    min-height: 100vh;
    color: #333;
    font-family: "Lato", sans-serif;
    position: relative;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.page-wrap main {
    padding-top: 80px;
    flex: 1;
}

input[type="text"],
input[type="email"] {
    padding: 20px;
    border: none;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active {
    outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #7f8c8d;
}

button {
    background: #1ABCD5;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.2s ease-out;
}

button:hover {
    background: #2980b9;
}

section {
    z-index: 10;
    position: relative;
    padding-top: 40px;
}

p {
    font-size: 2em;
}

a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    color: white;
}

.navbar {
    background-color: #2c3e50;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 50;
    box-sizing: border-box;
}

body#home .navbar {
    will-change: background;
    transition: background-color 0.4s ease-out;
}

.navbar.top:not(.open) {
    background-color: transparent;
}

.navbar .brand {
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 28px 0;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.navbar .nav-toggle-wrapper {
    float: right;
    display: none;
    padding: 31px 0;
}

.navbar .nav-toggle {
    cursor: pointer;
    will-change: transform;
    transition: transform 0.2s ease-out;
}

.navbar.open .nav-toggle {
    transform: rotate(-90deg);
}

.navbar .nav-toggle .bar {
    width: 25px;
    height: 2px;
    background-color: #FFF;
    content: "";
    margin-top: 6px;
}

.navbar .nav-toggle .bar:first-child {
    margin: 0;
}

.navbar .navItems {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

.navbar .navItems li {
    display: inline-block;
    transition: all 0.4s ease-in-out;
    border-bottom: 2px transparent;
}

.navbar.top .navItems li:hover {
    border-bottom: 2px solid #FFF;
    transition: all 0.4s ease-in-out;
}

.navbar:not(.top) .navItems li:hover {
    background-color: #364b61;
}

.navbar .navItems li a {
    color: #FFF;
    text-decoration: none;
    padding: 30px;
    display: block;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .navbar {
        padding: 0;
    }
    .navbar .brand {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar .nav-toggle-wrapper {
        display: block;
        padding-right: 20px;
    }
    .navbar .navItems {
        float: none;
        transition: max-height 0.2s ease-out;
        max-height: 200px;
        overflow: hidden;
    }
    .navbar .navItems li {
        display: block;
        padding: 0 20px;
    }
    .navbar .navItems li:last-child {
        margin-bottom: 20px;
    }
    .navbar .navItems li a {
        color: #FFF;
        text-decoration: none;
        padding: 10px 0;
        display: block;
        box-sizing: border-box;
    }
    .navbar.top .navItems li:hover {
        border: none;
        background-color: #364b61;
    }
    .navbar:not(.open) .navItems {
        max-height: 0;
    }
}

.masthead {
    height: 100vh;
    background-color: #2c3e50;
    color: #FFF;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.masthead * {
    z-index: 20;
    position: relative;
}

.masthead .masthead-bg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masthead h1 {
    font-size: 3.5em;
    font-family: Raleway;
}

.masthead .input-group,
.jumbotron .input-group {
    max-width: 700px;
    margin: 0 auto;
}

.masthead button i.material-icons,
.jumbotron button i.material-icons {
    font-size: 2.2rem;
    vertical-align: middle;
}

.masthead input[type="text"],
.jumbotron input[type="text"] {
    font-size: 2em;
    padding: 20px 30px;
    color: rgb(60, 60, 60);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .container {
        max-width: 100%;
    }
}

#about h1 {
    font-size: 3em;
    margin-bottom: 25px;
    color: #2c3e50;
    text-align: center;
}

#about .about-col {
    text-align: center;
}

#about .about-col .about-icon .material-icons {
    font-size: 4em;
}

.input-group {
    display: flex;
    overflow: hidden;
}

.input-group input {
    flex: 1;
    display: inline-block;
    border-radius: 0;
    width: 100%;
}

.input-group button {
    display: inline-block;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-row .flex-col {
    flex: 1;
}

.jumbotron {
    padding: 100px 0;
    background: linear-gradient( rgba(123, 123, 123, 0.49), rgba(0, 0, 0, 0.62)), url(/media/jumbotron.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family: Raleway;
}

.jumbotron h1 {
    font-size: 4em;
    color: #FFF;
    text-align: center;
    margin-top: 0;
}

@media (max-width: 760px) {
    .masthead h1, .jumbotron h1 {
        font-size: 2.5em;
        font-family: Raleway;
    }    
    .masthead .input-group,
    .jumbotron .input-group {
        max-width: 300px;
        margin: 0 auto;
    }
    .masthead button i.material-icons,
    .jumbotron button i.material-icons {
        font-size: 1.6rem;
        vertical-align: middle;
    }
    .masthead input[type="text"],
    .jumbotron input[type="text"],
    .masthead input[type="email"],
    .jumbotron input[type="email"] {
        font-size: 1em;
        padding: 10px 20px;
    }
    .input-group button {
        padding: 10px;
    }
    #team .flex-row {
        display: block;
    }
}

#team h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}
#team .flex-row {
    margin: 40px 0;
}
#team .flex-col {
    text-align: center;
}
#team .flex-col img {
    border-radius: 50%;
    width: 150px;
    border: none;
    height: 150px;
    box-shadow: 10px 5px 20px #b1b1b1;
}
#team .flex-col h1 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Comfortaa;
}
#team .flex-col h2 {
    margin-top: 5px;
    font-size: 1.1rem;
    font-family: Raleway;
    font-weight: 100;
}
.courses {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}
.courses .course {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    overflow: hidden;
}
.courses .course .course-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #FFF;
    display: inline-table;
}
.courses .course .course-icon .material-icons {
    font-size: 3.5em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.courses .course .course-info {
    margin-left: 30px;
    margin-bottom: 10px;
    flex: 1;
}
.courses .course .course-info h1 {
    margin-bottom: 0;   
}
.courses .course .course-info p {
     margin-top: 10px;
     margin-bottom: 20px;
}
.courses .course .course-meta {
    flex: 0 0 100%;
    margin-left: 130px;
    color: #7f8c8d;
    vertical-align: middle;
    font-size: 16px;
}
.courses .course .course-meta .meta {
     margin-left: 20px;   
}
.courses .course .course-meta .meta:first-child {
     margin-left: 0;   
}
.courses .course .course-meta .material-icons {
    vertical-align: middle;   
    font-size: 16px;
}

.course-wrapper {
    display: flex;
    margin-top: 50px;
}
.course-wrapper .sidebar {
    width: 200px;
}
.course-wrapper .sidebar .course-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #FFF;
    display: inline-table;
}
.course-wrapper .sidebar .course-icon .material-icons {
    font-size: 7em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.course-wrapper .content {
    margin-left: 50px;
}
.course-wrapper .content h1 {
    font-size: 3em;   
    margin-top: 0;
}
.course-wrapper .content button {
    font-size: 1.5em;
    padding: 20px;
}
footer .footer-main {
    padding: 50px 0;
    background-color: #2c3e50;
    color: #FFF;
}
footer .footer-main .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .footer-main .footer-bit {
    flex: 1;
}
footer h1 {
    margin: 0;
}
footer h3 {
    margin-bottom: 10px;
}
footer p {
    margin: 0;
    font-size: 16px;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul a {
    color: #FFF !important;
}
footer .material-icons {
    vertical-align: middle;
    font-size: 16px;
}
footer .footer-bottom {
    background-color: #1C3349;
    padding: 10px 0;
    color: #FFF;
    text-align: right;
}
@media (max-width: 800px) {
    footer .footer-main .container {
        display: block;
        text-align: center;
    }
    footer .input-group {
        max-width: 300px;
        margin: 0 auto;
    }
    footer button i.material-icons {
        font-size: 1.6rem;
        vertical-align: middle;
    }
    footer input[type="email"] {
        font-size: 1em;
        padding: 10px 20px;
    }
    footer .input-group button {
        padding: 10px;
    }
}
.footer-bit > ul > li {
    padding: 5px 0;
}
/* Course Info */
.courseItem {
    width: 250px;
    margin: 30px;
    padding: 40px;
    padding-bottom: 20px;
    text-align: center;
    display: inline-table;
    min-height: 30%;
    background-color: #ecf0f1;
}

.courseImage {
    margin: -40px;
    padding-bottom: 30px;
}

.courseImage > img {
    width: 100%;
}

.courseHeader > p {
    font-size: 1.8rem;
    text-align: center;
    font-family: Raleway;
}

.courseHeader > span {
    font-size: 1rem;
}

.courseHeader {
    padding: 0 10px;
}

.courseInfo {
    text-align: center;
    padding: 20px;
}

.courseButton {
    padding: 15px 30px;
    color: white;
    margin-top: 20px;
    background: #3ca7ef;
    display: block;
}

.meta {
    color: #7f8c8d;
    display: block;
}

.rating > i {
    font-size: 1rem;
    margin-top: 10px;
    color: #efd02a;
}
/* About Page */
.secondNavbar {
    background-color: #2c3e50;
    padding: 0 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.secondNavbar .brand {
    color: #4e6abb;
    font-size: 1.5em;
    font-weight: bold;
    padding: 28px 0;
    float: left;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.snavItems {margin: 0;padding: 0;list-style-type: none;float: right;}

.snavItems > li {
    padding: 10px;
    display: inline-block;
}

.snavItems > li > a {
    color: #1d1d1d;
    text-decoration: none;
    padding: 20px;
    display: block;
    box-sizing: border-box;
}

/* Course page */
.courseContent > video {
    width: 90%;
}

.courseContent {
    margin: 0 50px;
}

.courseContent > h1 {
    font-size: 2.5rem;
    font-family: Raleway;
    font-weight: 100;
}

.courseContent > p {
    font-size: 1.1rem;
    margin: 20px 0;
    color: #7f8c8d;
    font-family: Raleway;
}
.sidebar2 {
    width: 400px;
    height: 165px;
    text-align: center;
    background-color: #ecf0f1;
}
.courseSale {
    background-color: #2ecc71;
    font-size: 1.5rem;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Raleway;
    margin: 30px auto;
}

.sidebar2 > a {
    color: white;
    background-color: #2c3e50;
    padding: 15px 35px;
    font-size: 1.1rem;
}

.newsletter::-webkit-input-placeholder {
    font-size:1rem;
}
::-webkit-input-placeholder {
   color: rgba(0,0,0,.3);
   font-size:1.5rem;
   font-weight:100;
   font-family:Lato;
   letter-spacing:1px;
}